.*
autom4te.cache
config.log
*.lo
*.la
libr.pc
*.3
stamp-h1
po/POTFILES
po/remove-potcdate.sed
Makefile
Makefile.in
configure
config.status
config.sub
config.guess
debian/changelog
config.h
ltmain.sh
aclocal.m4
libtool
m4/ltversion.m4
